.hero-image img{
    width: 100%;
    height: 420px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text{
    position:absolute;
    top:15%;
    left:60%;
    color: white;
    word-spacing: 3px;
    padding: 100px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}